/*use this css file ONLY for routes*/
/*for components like header and footers, use separate css files - justin*/
/*use lowercase*/

/*----------------------------global components----------------------*/
.navbar{
  marginBottom: 0px;
  background-color: red;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#000080;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    display: block;
}
.sidenav a:hover {
    background-color: #4d4dff;
    color: #f1f1f1;
}
/*Every element starts at the center if you put it inside a div called 'page'*/
.page{
  width: 100vw;
  height: 100vh;
  display: flex;
  vertical-align: middle;
}

/*body {
 font-family: Calibri;
 font-size: 14px;
 background-size: 100% 200% !important;
 background: linear-gradient(-10deg, #A0A0A0 10%, #202020 90%);
}*/

/*---------------------------Login Page---------------------------comment like this when creating a style for a new page - justin*/
/*specify name of container for each pages*/
.Container{
	width: 50vh;
  height: 30vh;
  border-radius: 30px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: auto;
	background-color: #202020;
}

.appName{
	color: #CC0000;
  margin: auto;
}

.userHeader {
 text-align: center;
 margin: auto;
}

.userTitle {
 font-family: Calibri;
 font-weight: 500;
 color: white;
 transition: 0.5s;
}

.user{
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.input {
 display: block;
 width: 100%;
 padding: 20px;
 font-family: Calibri;
 border: 0;
 outline: 0;
 transition: 0.5s;
 margin: auto;
}

.underBar{
  padding: 10px;
	font-family: Calibri;
  color: white;
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 20%;
  background-color: #202020;
}

.btn {
 display: block;
 width: 100%;
 padding: 20px;
 font-family: Calibri;
 font-size: 20px;
 outline: 0;
 border: 0;
 color: white;
 background: #CC0000 ;
 transition: 0.5s;
 cursor: pointer;
}

.form {
 overflow: hidden;
}

/*------------------------Instructor View------------------------*/
/*----------------home-------------*/
.optionsContainer{
  width: 50%;
  height: 50%;
  margin-left: 28%;
  margin-top: 5%;
}

/*---------------------------Course Grid---------------------------*/
.courseGridCell, td{

	width:70px;
	height: 50px;
	text-align: center;
	border: 1px solid black;

}

.courseGridCell:hover{
	background: grey;
}

.courseGridCellClicked{
	background: grey;
}

.courseGrid{

	margin-left: 400px;
	margin-top: 150px;

}
.welcomeContainer{
  margin-left: 200px;
  width: 100%;
  height: 200px;
  background-color: black;
  position:relative;
}
.instructorPic, .instructorName{
  display: inline-block;
  background-color: black;
}
.instructorName{
  margin-top: 70px;
  margin-left: 20px;
  color: white;
}
.instructorPic{
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
/*-----------Create Course------------*/

.formContainer{
  margin-left: 200px;
  width: 80%;
}
