/*use this css file ONLY for routes*/
/*for components like header and footers, use separate css files - justin*/
/*use lowercase*/
/*----------------------------global components----------------------*/
.errorMsgTemplate{
  visibility: hidden;
}
.errorMsgCritical{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('./images/png/error.png');
  visibility: hidden;
  display: none;

}
.errorMsgSuccessful{
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('./images/png/success.png');
  visibility: hidden;
  display: none;
}
.errorMsgWarning{
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('./images/png/warning.png');
  visibility: hidden;
  display: none;
}
.errorMsgWarning, .errorMsgCritical, .errorMsgSuccessful, .errorMsgTemplate{
  border: 1px solid;
  border-radius: 15px;
  margin: auto;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 350px;
  margin-bottom: 10px;
}
.header{
  margin-top: 25px;
  color: white;
  background: #CC0000;
  height: 230px;
  padding-top: 50px;
  margin-bottom: 30px;
  padding-right: 50px;
  /*bottom shadow effect*/
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #b30000;
}
.logout{
  cursor: pointer;
}
.logout, .home{
  color: #FFFFFF;
  float: right;
  display: inline;
  margin-right: 50px;
  text-decoration: none;
}

.headerTitle{
  margin-top: 70px;
  text-align: center;
  font-size: 50px;
  margin-left: 50px;
}
.mainBody{
  height: 100%;
  background: #a6a6a6;
  padding-top: 1px;
  padding-bottom: 100px;
}

.mainBodyTitle{
  color: white;
  text-align: center;
  font-size: 35px;
}

.mainBodyWrapper{
  background: #d9d9d9;
  float: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.footer{
  height: 88px;
  background: #CC0000;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #990000;
  bottom:0;
  position:fixed;
  width:100%;
}

.buttonWrapper{
  margin: 0 auto;
  width: 50%;
  padding-left: 20%;
}

/*Every element starts at the center if you put it inside a div called 'page'*/
.page{
  width: 100vw;
  height: 100vh;
  display: flex;
  vertical-align: middle;
}


/*---------------------------Login Page---------------------------comment like this when creating a style for a new page - justin*/
/*specify name of container for each pages*/
.Container{
	width: 50vh;
  height: 30vh;
  border-radius: 30px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: auto;
	background-color: #202020;
}
.errorMessageWithBox{
  display: block;
  margin: auto;
  height: 50vh;
}
.noInput{
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('./images/png/warning.png');
  visibility: hidden;
  display: none;
}
.authenticationError{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('./images/png/error.png');
  visibility: hidden;
  display: none;

}
.successfulLogin{
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('./images/png/success.png');
  visibility: hidden;
  display: none;
}
.errorBoxTemplate{
  visibility: hidden;
}
.noInput, .authenticationError, .successfulLogin, .errorBoxTemplate{
  border: 1px solid;
  border-radius: 15px;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.appName{
	color: #CC0000;
  margin: auto;
}

.userHeader {
 text-align: center;
 margin: auto;
 padding-top: 1px;
}

.userTitle {
 font-family: Calibri;
 font-weight: 500;
 color: white;
 transition: 0.5s;
}

.user{
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.input {
 display: block;
 width: 100%;
 padding: 20px;
 font-family: Calibri;
 border: 0;
 outline: 0;
 transition: 0.5s;
 margin: auto;
}

.email {
 float: left;
 display: inline-block;
 width: 80%;
 padding: 20px;
 font-family: Calibri;
 border: 0;
 outline: 0;
 transition: 0.5s;
 margin: auto;
}

.emailTag {
  border-right: 2px;
  border-right-style: solid;
  border-color: white;
 display: inline-block;
 background-color: white;
 width: 20%;
 padding: 20px;
 font-family: Calibri;
 border: 0;
 outline: 0;
 transition: 0.5s;
 margin: auto;
}

.underBar{
  padding: 10px;
	font-family: Calibri;
  color: white;
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 20%;
  background-color: #202020;
}

.btn {
 display: block;
 width: 100%;
 padding: 20px;
 font-family: Calibri;
 font-size: 20px;
 outline: 0;
 border: 0;
 color: white;
 background: #CC0000 ;
 transition: 0.5s;
 cursor: pointer;
}

.form {
 overflow: hidden;
}

.errorMessage{

}




/*------------------------Instructor View------------------------*/
/*----------------home-------------*/
.optionsContainer{
  width: 50%;
  height: 50%;
  margin-left: 28%;
  margin-top: 5%;
}

.datePicker{
  margin-left: 200px;
  font-size: 150%;

}
.datePickerWrapper{
  width: 100px;
}

.mainBodyTitleInstructorCourseOverview{
  color: white;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  margin-left: 25%;
}

.instructorButton{
  background: #a6a6a6;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.attendanceStatsTable{
  width: 100%;
  background: #FFFFFF;
}

.courseBackground{
  width:100%;
  height:100%;
}

.courseIcon{
  background: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: inline-block;
  margin-right: 50px;
  margin-bottom:30px;
  width:300px;
  height:200px;
  position:relative;
}
.courseIconBackground{
  height: 100%;
}
.courseNameWrapper{
  background: #000000;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.courseTitle{
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.trackAttendanceBtn{
  margin-left: 520px;
  margin-top: 30px;
}
/*
.removeCourse{
  content: "\00d7";
  border: none;
  border-radius: 4px;
  width:20px;
  height:20px;
  margin-top:5px;
  float: right;
  margin-right: 5px;
  display: inline-block;
}*/

.removeCourse{
  float:right;
  margin-top: 5px;
  margin-right: 5px;
  padding:0;
  border-radius:2px;
  border:solid 2px #db423d;
  transition: all .3s ease-out;
  cursor:pointer;
  width:20px;
  height:20px;
  line-height: 12px;
  text-align: center;
  background-color: #db423d;
}

/*---------------------------Course Grid---------------------------*/
.courseGridCell{
  border-width: 10px;
  border-color: #d9d9d9;
	width:70px;
	height: 50px;
	text-align: center;
  background-color:white;
}

.courseGridCell:hover{
	background: #CC0000;
  transition: all 0.6s;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

.courseGridCellClicked{
	background: #CC0000;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

.studentRowEntry{
  display: block;
}

.students{
  margin-left: 250px;
  margin-top: 50px;
}

.courseGrid{
  border-radius: 15px;
  background: white;
  width: 100%;
	margin-top: 10px;
}
.courseTable{
  width: 100%;
}
.welcomeContainer{
  margin-left: 120px;
  margin-right: 120px;

  height: 200px;
  background-color: black;
  position:relative;
}
.instructorPic, .instructorName{
  display: inline-block;
  background-color: black;
}
.instructorName{
  margin-top: 70px;
  margin-left: 20px;
  color: white;
}
.instructorPic{
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
/*-----------Create Course------------*/

.formContainer{
  width: 50%;
  margin-left: 27%;
}
.controlLabel{
  background-color: #ffffff;
  color: #999999;
  border-radius: 3px;
  padding-top: 4.2px;
  padding-bottom: 4.2px;
  border: 1.2px solid #ccc;
  font-weight: 505;
}
.createGridButton{
  background: #CC0000;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 33%;
  margin-top: 0px;
  margin-bottom: 20px;
}

.closedSeat{
  border-width: 10px;
  width:70px;
  height: 50px;
  text-align: center;
  background: #000000;
  border-color: #d9d9d9;
}

.auditableSeat{
  border-width: 10px;
  width:70px;
  height: 50px;
  text-align: center;
  background-image: url("./images/stripes.jpg");
  border-color: #d9d9d9;

.openSeatsIcon{
  background: #FFFFFF;
  border-radius: 4px;
  width: 40px;
  color: transparent;
  margin-left: 40px;
  margin-right: 5px;
}
.closedSeatsIcon{
  background: #000000;
  border-radius: 4px;
  width: 40px;
  color: transparent;
  margin-left: 40px;
  margin-right: 5px;
}
.auditableSeatsIcon{
  background-image: url("./images/stripes.jpg");
  border-radius: 4px;
  width: 40px;
  color: transparent;
  margin-left: 40px;
  margin-right: 5px;
}
.legendLabel{
  font-weight: normal;
  color: #FFFFFF;
  margin-left: 10px;
}
/*------------------Instructor Course list------------------*/
.instructorCourseContainer{
  margin-left: 700px;
  width: 30%;
  height: 700px;
  background-color: #ffcccc;
  position:relative;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
}
.instCourseHeader{
  background-color: red;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 4%;
}
.instCourseListContainer{
  width: 80%;
  margin-top: 20px;
  margin-left: 150px;
}
.instCourseList, th, td{
  background-color: #ffb3b3;
  border-collapse: collapse;
  border: 1px solid #ff9999;
}
.courseNum{
  width: 100px;
}
.courseName{
  width: 200px;
}

/*------------------Instructor Course Overview-------------*/
.divtable {
  display: table;
  width: auto;
  background-color: #FFFFFF;
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
  margin: auto;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}
.divtablerow {
  display: table-row;
  width: auto;
  clear: both;
}
.divtablecol {
  float: left; /* fix for  buggy browsers */
  display: table-column;
  width: 200px;
}


.statDirect{
  transition: background-color 0.8s ease;
  margin-top: 0px;
  float: right;
  background-color: #ffffff;
  margin-right: 195px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}
.statDirect:hover{
  background-color: #000000;
  color: #ffffff;
}
.hiddenContainer{
  display: none;
  visibility: hidden;
}
.hiddenContainer2{
  display: none;
  visibility: hidden;
}

.statisticsViewHidden{
  width: 100%;
  height: 0;
	overflow: hidden;
}
.closeStatViewButton{
  background: #a6a6a6;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 20px;
  width: 180px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 5px;
  margin-top: 10px;
}
/*------------------Student View-------------------------*/

.reserveSeatBtn{
  margin-left: 790px;
  margin-top: 30px;
}


/*-------------------RegisterCourse----------------------*/

.registerContainer{
  width: 50%;
  height: 50%;
  margin-left: 28%;
  margin-top: 5%;
}

.searchBox{
  border-radius: 25px;
  width: 80%;
  margin: 3%;
}

.greyTable {
border: 4px solid #878787;
background-color: #FFFFFF;
width: 100%;
text-align: left;
border-collapse: collapse;
border-radius: 25px;
}


.thIn{
  width: 20%;
  background: #878787;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;

}

.tdIn {

  width: 25%;
  font-size: 13px;
}

.rowIn{
  margin: 5px;
  padding: 2px 15px 2px 15px;
  width: 100%;
  border-radius: 25px;
  border: 3px solid #808080;
  background: white;
   box-shadow: 2px 2px 1px #888888;
}

.buttonIn {
  background-color: #E80001;
  padding: 2px 15px 2px 15px;
  border-radius: 25px;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
}

.buttonIn:hover {
  background: #f5e100;
}

.statisticBodyTitle{
  color: white;
  text-align: center;
  font-size: 35px;
  height: 0px;
  overflow: hidden;
}
.mainBodyTitleOverview{
  color: white;
  text-align: center;
  font-size: 35px;
  height: 0px;
}

/*-----------------Not Authorized Page-------------------*/
.notFoundMessage{
  padding: 10%;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}
