.container{
  margin-top: 2%;
}
.form-control{
  display: inline;
  width: 50%;
}
.label{
  font-size: 18px;
}

.button{
  width: 200px;
  font-size: 30px;
}

#loginBtn{
  width: 70px;
  margin-left: 100px;
}

#password{
  margin-left:5px;
}
