*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}


body {
 font-family: Calibri;
 font-size: 14px;
 background-size: 100% 200% !important;
 background: linear-gradient(-10deg, #A0A0A0 10%, #202020 90%);
}

img {
  width: 80%;
}

.user {
 width: 50%;
 max-width: 400px;
 margin: 14vh auto;
}

.user__header {
 text-align: center;
}

.user__title {
 font-family: Calibri;
 font-weight: 500;
 color: white;
 transition: 0.5s;
}

.form {
 border-radius: 10px;
 overflow: hidden;
}

.form__input {
 display: block;
 width: 100%;
 padding: 20px;
 font-family: Calibri;
 border: 0;
 outline: 0;
 transition: 0.5s;
}

.btn {
 display: block;
 width: 100%;
 padding: 20px;
 font-family: Calibri;
 font-size: 20px;
 outline: 0;
 border: 0;
 color: white;
 background: #CC0000 ;
 transition: 0.5s;
}
